@use '../../global/palette' as pal;

.App div {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
}

.primario {
  div {
    background-color: darken(pal.$primario-fondo, 10);

    p {
      color: pal.$primario-color;
    }
  }
}

.secundario {
  div {
    background-color: lighten($color: pal.$secundario-fondo, $amount: 15);

    p {
      color: pal.$secundario-color;
    }
  }
}
