@use '../../global/palette' as pal;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
  margin: 0;
}

.primario {
  .navbar {
    background-color: darken(pal.$primario-fondo, 10);
    color: pal.$primario-color;

    button {
      background-color: darken(pal.$primario-fondo, 20);
      color: pal.$primario-color;
      border: 0;
      padding: 0.5em;
      border-radius: 0.4em;
    }
  }
}

.secundario {
  .navbar {
    background-color: pal.$secundario-fondo;
    color: pal.$secundario-color;

    button {
      background-color: lighten($color: pal.$secundario-fondo, $amount: 15);
      color: pal.$secundario-color;
      border: 0;
      padding: 0.5em;
      border-radius: 0.4em;
    }
  }
}
